*{
    padding: 0;
    margin: 0;
}

body, html{
    width: 100%;
}

a{
    color: #fff;
    text-decoration:none;
}

ul, li{
    list-style: none;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header__logo{}

.header__menu ul {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.main__slider{
    background-color: aliceblue;
}